.garanties {
  padding: 140px 0 100px;
  &__title {
    margin-bottom: 16px;
    max-width: 50rem;
  }
  &__header {
    margin-bottom: 5rem;
  }
  &__list {
    display: grid;
    margin-top: 100px;
    gap: 2rem;
    padding: 2rem 0;
    background-image: url("/img/garanties/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 1000px) {  
      background-color: #121212;
      background-blend-mode: color-burn;
    }
    li {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
    li:nth-child(even) {
      justify-self: end;
      flex-flow: row-reverse;
    }
    img {
      width: min(var(--index) * 6, 100px);
      height: min(var(--index) * 6, 100px);
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 0.5rem;
    max-width: 20rem;
    background: #12121230;
  }
}
